<h2>{{team.Name}}
	<span class="d-none-xs d-none-sm">{{team.Mascot}}</span>
</h2>

<div *ngIf="!startersSet">
	<table class="table table-striped table-bordered">
		<thead>
			<tr [ngStyle]="{'background-color': team.PrimaryColor, 'color': 'white'}">
				<th></th>
				<th>Number</th>
				<th>Name</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let player of team.SortedPlayers" [class.starter]="starters.has(player)">
				<td><input class="form-control-lg" type="checkbox" (click)="toggleStarter(player)" [disabled]="!starters.has(player) && StartersSelected() == 5"></td>
				<td>{{player.JerseyNumber}}</td>
				<td>{{player.Name}}</td>
			</tr>
		</tbody>
	</table>

	<button class="btn btn-primary" [disabled]="StartersSelected() < 5" (click)="setStarters()">Set starters</button>
</div>

<div *ngIf="startersSet">
	<p>Starters have been selected for the {{team.Mascot}}</p>
</div>
