<h1>Select teams for the game</h1>

<div class="d-flex">
	<section id="home-team" class="flex-fill pr-4">
	        <h2>Home team</h2>

	        <select name="homeTeam" [(ngModel)]="homeTeam" class="form-control">
	                <option *ngFor = "let team of teams" [ngValue]="team">{{team.Name}}</option>
	        </select>
	</section>

	<section id="away-team" class="flex-fill ml-4">
	        <h2>Away team</h2>
	        <select name="homeTeam" [(ngModel)]="awayTeam" class="form-control">
	                <option *ngFor = "let team of teams" [ngValue]="team">{{team.Name}}</option>
	        </select>
	</section>
</div>

<div *ngIf="homeTeam && awayTeam && (homeTeam != awayTeam)" class="mt-2 bt-1 pt-2">
	<p>Click the button below to start the game between
		<span class="teamName" [ngStyle]="{'color': homeTeam.PrimaryColor}">{{homeTeam.Name}}</span> and
	 	<span class="teamName" [ngStyle]="{'color': awayTeam.PrimaryColor}">{{awayTeam.Name}}</span>
	</p>
	<button class="btn btn-primary" (click)="startGame()">Start Game</button>
</div>
