<div [ngSwitch]='status'>
	<div *ngSwitchCase = "'load-game'">
		<p>Loading game information...  please wait</p>
	</div>

	<div *ngSwitchCase="'load-teams'">
		<p>Loading teams information</p>
	</div>

	<div *ngSwitchCase="'teams-loaded'">
	<h2>Select starters for the game</h2>
		<div class="row">
			<app-select-starters [team]="game.HomeTeam" (startersSelected)="setStarters(game.HomeTeam, $event)" class="col-12 col-md-6"></app-select-starters>
			<app-select-starters [team]="game.AwayTeam" (startersSelected)="setStarters(game.AwayTeam, $event)" class="col-12 col-md-6"></app-select-starters>
		</div>
	</div>

	<div *ngSwitchCase="'in-game'">
		<p>
			In game
		</p>
	</div>

</div>
